opencv-python
numpy
matplotlib
pytesseract
paddlepaddle
opencv-python
numpy
matplotlib
pytesseract
paddleocr
tensorflow
language-tool-python
num2words
paddlepaddle

sqlite3
tensorflow
language_tool_python
num2words
pandas